{% extends "base.html" %}
{% load static %}
{% block content %}

          <div class="dashboard__main">
            <div class="dashboard__content bg-light-4">
              <div class="row pb-50 mb-10">
                <div class="col-auto">

                  <h1 class="text-30 lh-12 fw-700">Profil</h1>

                </div>
              </div>


              <div class="row y-gap-30">
                <div class="col-12">
                  <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">

                    <div class="py-30 px-30">

                      <div class="">
                        <div class="px-30 py-20 bg-light-7 -dark-bg-dark-2 rounded-8">
                          <div class="row x-gap-10">
                            <div class="col-lg-5">
                              <div class="text-purple-1">Mövzular</div>
                            </div>
                            <div class="col-lg-3">
                              <div class="text-purple-1">Təlim adı</div>
                            </div>
                            <div class="col-lg-2">
                              <div class="text-purple-1">Bal</div>
                            </div>
                            <div class="col-lg-2">
                              <div class="text-purple-1">İmtahan tarixi</div>
                            </div>
                          </div>
                        </div>


                        <div class="px-30 border-bottom-light">
                          {% for result in results %}
                            <div class="row x-gap-10 items-center py-15">
                              <div class="col-lg-5">
                                <div class="d-flex items-center">
                                  <div class="ml-10">
                                    {% for topic in result.exam_topics.all %}
                                      {{ topic.topic_title|capfirst }},
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-3">{{ result.student.student_group.first.group.course.title|capfirst }}</div>
                              <div class="col-lg-2">{{ result.total_point }}</div>
                              <div class="col-lg-2">{{ result.created_at|date:'M d, Y' }}</div>
                            </div>
                          {% endfor %}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

{% endblock %}