{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="dashboard__main">
    <div class="dashboard__content bg-light-4">
      <div class="row pb-50 mb-10">
        <div class="col-auto">

          <h1 class="text-30 lh-12 fw-700">Participants</h1>

        </div>
      </div>


      <div class="row y-gap-30">
        <div class="col-12">
          <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">

            <div class="py-30 px-30">

              <div>
                <div class="px-30 py-20 bg-light-7 -dark-bg-dark-2 rounded-8">
                  <div class="row x-gap-10">
                    <div class="col-lg-5">
                      <div class="text-purple-1">First name / Surname</div>
                    </div>
                    <div class="col-lg-2">
                      <div class="text-purple-1">Roles</div>
                    </div>
                    <div class="col-lg-2">
                      <div class="text-purple-1">Groups</div>
                    </div>
                    <div class="col-lg-3">
                      <div class="text-purple-1">Last access to course</div>
                    </div>
                  </div>
                </div>


                <div class="px-30 border-bottom-light">
                  <div class="row x-gap-10 items-center py-15">
                    <div class="col-lg-5">
                      <div class="d-flex items-center">
                        <img src="img/misc/2.png" alt="image" class="size-40 fit-cover">
                        <div class="ml-10">
                          <div class="text-dark-1 lh-12 fw-500">Heather Reyes</div>
                          <div class="text-14 lh-12 mt-5">10 Nov 2014</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2">Student</div>
                    <div class="col-lg-2">Team South</div>
                    <div class="col-lg-3">1 year 31 days</div>
                  </div>
                </div>

                <div class="px-30 border-bottom-light">
                  <div class="row x-gap-10 items-center py-15">
                    <div class="col-lg-5">
                      <div class="d-flex items-center">
                        <img src="img/misc/2.png" alt="image" class="size-40 fit-cover">
                        <div class="ml-10">
                          <div class="text-dark-1 lh-12 fw-500">Heather Reyes</div>
                          <div class="text-14 lh-12 mt-5">10 Nov 2014</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2">Student</div>
                    <div class="col-lg-2">Team South</div>
                    <div class="col-lg-3">1 year 31 days</div>
                  </div>
                </div>

                <div class="px-30 border-bottom-light">
                  <div class="row x-gap-10 items-center py-15">
                    <div class="col-lg-5">
                      <div class="d-flex items-center">
                        <img src="img/misc/2.png" alt="image" class="size-40 fit-cover">
                        <div class="ml-10">
                          <div class="text-dark-1 lh-12 fw-500">Heather Reyes</div>
                          <div class="text-14 lh-12 mt-5">10 Nov 2014</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2">Student</div>
                    <div class="col-lg-2">Team South</div>
                    <div class="col-lg-3">1 year 31 days</div>
                  </div>
                </div>

                <div class="px-30 border-bottom-light">
                  <div class="row x-gap-10 items-center py-15">
                    <div class="col-lg-5">
                      <div class="d-flex items-center">
                        <img src="img/misc/2.png" alt="image" class="size-40 fit-cover">
                        <div class="ml-10">
                          <div class="text-dark-1 lh-12 fw-500">Heather Reyes</div>
                          <div class="text-14 lh-12 mt-5">10 Nov 2014</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2">Student</div>
                    <div class="col-lg-2">Team South</div>
                    <div class="col-lg-3">1 year 31 days</div>
                  </div>
                </div>

                <div class="px-30 border-bottom-light">
                  <div class="row x-gap-10 items-center py-15">
                    <div class="col-lg-5">
                      <div class="d-flex items-center">
                        <img src="img/misc/2.png" alt="image" class="size-40 fit-cover">
                        <div class="ml-10">
                          <div class="text-dark-1 lh-12 fw-500">Heather Reyes</div>
                          <div class="text-14 lh-12 mt-5">10 Nov 2014</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2">Student</div>
                    <div class="col-lg-2">Team South</div>
                    <div class="col-lg-3">1 year 31 days</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}