{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="dashboard__main">
    <div class="dashboard__content bg-light-4">
      <div class="row pb-50 mb-10">
        <div class="col-auto">

          <h1 class="text-30 lh-12 fw-700">Quiz</h1>

        </div>
      </div>


      <div class="row y-gap-30">
        <div class="col-xl-9">
          <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4">
            <div class="d-flex items-center py-20 px-30 border-bottom-light">
              <h2 class="text-17 lh-1 fw-500">Quiz</h2>
            </div>

            <div class="py-30 px-30">
              <form method="post">
                {% csrf_token %}

                {% for question in student_questions.point_1_question.all %}

                  <div id="sual_{{ forloop.counter }}" class="border-light overflow-hidden rounded-8 mb-30">

                    <div class="py-40 px-40 bg-dark-5">
                      <div class="d-flex justify-between">
                        <h4 class="text-18 lh-1 fw-500 text-white">Sual {{ forloop.counter }}</h4>
                        <div class="d-flex x-gap-50">
                          <div class="d-flex items-center text-white">
                            <div class="icon-flag mr-10"></div>
                            <div>Flag Question</div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex pt-15">
                        <div class="text-white">{{ question.point }} ballıq</div>
                        <div class="text-white ml-50">{{ question.course_topic.topic_title|capfirst }}</div>
                      </div>

                      <div class="text-20 lh-1 text-white mt-15">{{ question.question|safe }}</div>
                    </div>

                    <div class="px-40 py-40">

                      {% for answer in question.question_answer.all %}

                        <div class="form-radio d-flex items-center mt-20">
                          <div class="radio">
                            <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                            <div class="radio__mark">
                              <div class="radio__icon"></div>
                            </div>
                          </div>
                          <div class="fw-500 ml-12">{{ answer.answer|capfirst }}</div>
                        </div>

                      {% endfor %}

                    </div>
                  </div>

                {% endfor %}

                {% for question in student_questions.point_2_question.all %}

                  <div id="sual_{{ forloop.counter0|add:4 }}" class="border-light overflow-hidden rounded-8 mb-30">

                    <div class="py-40 px-40 bg-dark-5">
                      <div class="d-flex justify-between">
                        <h4 class="text-18 lh-1 fw-500 text-white">Sual {{ forloop.counter0|add:4 }}</h4>
                        <div class="d-flex x-gap-50">
                          <div class="d-flex items-center text-white">
                            <div class="icon-flag mr-10"></div>
                            <div>Flag Question</div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex pt-15">
                        <div class="text-white">{{ question.point }} ballıq</div>
                        <div class="text-white ml-50">{{ question.course_topic.topic_title|capfirst }}</div>
                      </div>

                      <div class="text-20 lh-1 text-white mt-15">{{ question.question|safe }}</div>
                    </div>

                    <div class="px-40 py-40">

                      {% for answer in question.question_answer.all %}

                        <div class="form-radio d-flex items-center mt-20">
                          <div class="radio">
                            <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                            <div class="radio__mark">
                              <div class="radio__icon"></div>
                            </div>
                          </div>
                          <div class="fw-500 ml-12">{{ answer.answer|capfirst }}</div>
                        </div>

                      {% endfor %}

                    </div>
                  </div>

                {% endfor %}

                {% for question in student_questions.point_3_question.all %}

                  <div id="sual_{{ forloop.counter0|add:8 }}" class="border-light overflow-hidden rounded-8 mb-30">

                    <div class="py-40 px-40 bg-dark-5">
                      <div class="d-flex justify-between">
                        <h4 class="text-18 lh-1 fw-500 text-white">Sual {{ forloop.counter0|add:8 }}</h4>
                        <div class="d-flex x-gap-50">
                          <div class="d-flex items-center text-white">
                            <div class="icon-flag mr-10"></div>
                            <div>Flag Question</div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex pt-15">
                        <div class="text-white">{{ question.point }} ballıq</div>
                        <div class="text-white ml-50">{{ question.course_topic.topic_title|capfirst }}</div>
                      </div>

                      <div class="text-20 lh-1 text-white mt-15">{{ question.question|safe }}</div>
                    </div>

                    <div class="px-40 py-40">

                      {% for answer in question.question_answer.all %}

                        <div class="form-radio d-flex items-center mt-20">
                          <div class="radio">
                            <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                            <div class="radio__mark">
                              <div class="radio__icon"></div>
                            </div>
                          </div>
                          <div class="fw-500 ml-12">{{ answer.answer|capfirst }}</div>
                        </div>

                      {% endfor %}

                    </div>
                  </div>

                {% endfor %}

                <div class="d-flex justify-end">
                  <button class="button -md -dark-1 text-white -dark-button-white mt-40">Bitir</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3">
          <div class="row y-gap-30">
            <div class="col-12">
              <div class="pt-20 pb-30 px-30 rounded-16 bg-white -dark-bg-dark-1 shadow-4">
                <h5 class="text-17 fw-500 mb-30">Quiz Complite</h5>

                <div class="d-flex items-center">
                  <div class="progress-bar w-1/1">
                    <div class="progress-bar__bg bg-light-3"></div>
                    <div class="progress-bar__bar bg-purple-1 w-1/4"></div>
                  </div>

                  <div class="d-flex y-gap-10 justify-between items-center ml-15">
                    <div>25%</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="pt-20 pb-30 px-30 rounded-16 bg-white -dark-bg-dark-1 shadow-4">
                <h5 class="text-17 fw-500 mb-30">Quiz Navigation</h5>

                <div class="row x-gap-10 y-gap-10">

                  <div class="col-auto">
                    <a href="#sual_1" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">1</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_2" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">2</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_3" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">3</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_4" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">4</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_5" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">5</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_6" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">6</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_7" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">7</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_8" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">8</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_9" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">9</div>
                    </a>
                  </div>

                  <div class="col-auto">
                    <a href="#sual_10" class="button -single-icon -light-3 text-dark-1 size-35 rounded-8">
                      <div class="text-15 lh-1 fw-500">10</div>
                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
{% endblock %}